.header {
    background-color: #fff;
    height: 120px;
    position: relative;
    text-align: center;
    
    h1 {
        display: inline-block;
        font-size: 50px;
    }

    .loginBox {
        position: absolute;
        right: 20px;
        bottom: 20px;

        .login {
            float: right;

            input {
            width: 150px;  
            height: 10px;
            padding: 8px;
            display: block;
            background: #ccc;
            color:white;
            border-radius:7px;
            font-size:18px;
            }
        }

        button {
            float:right;
            height: 80px;
            width: 70px;
            margin-left: 20px;
            background: grey;
            border-radius:7px;
            color:white;
            font-size:22px;
        }
    }

}
#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 500px;
    background-color: red;
}
.loginTitle {
    text-align: center;
}
.loginMain {
    text-align: center;
}
.introduce {
    text-align: center;
}
#ranking {
    background-image: url("Odung.png");
    background-size: auto;
    background-repeat: no-repeat;
}
#musicList {
    grid-column-start: 2;
    list-style: none;
    text-align: right;
    padding-right: 100px;
}
footer {
    float: right;
}
