header {
    h1 {
        display: inline-block;
    }
    height: 100px;
    font-size: 30px;
    text-align: center;
    .loginBox {
        margin-top: 10px;
        #loginBtn {
            width: 50px;
            height: 60px;
            float: right;
        }
        #login {
            float: right;
            
        }
    }

}
#container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px 500px;
    background-color: red;
}
.loginTitle {
    text-align: center;
}
.loginMain {
    text-align: center;
}
.introduce {
    text-align: center;
}
#ranking {
    background-image: url("Odung.png");
    background-size: auto;
    background-repeat: no-repeat;
}
#musicList {
    grid-column-start: 2;
    list-style: none;
    text-align: right;
    padding-right: 100px;
}
footer {
    float: right;
}
